@use "../css/partials/variable" as *;
@use "../css/partials/mixins" as *;

// HERO SECTION

.hero {
  height: 100vh;
  position: relative;
  padding: 6rem 4rem;

  &__background--hawaii {
    @include destination__background {
      width: 100%;
      background-size: cover;
      background-image: url("../assets/Images/hawaii.jpg");
      background-position: center;
    }
  }

  &__background--iceland {
    @include destination__background {
      width: 100%;
      background-size: cover;
      background-image: url("../assets/Images/iceland.jpg");
      background-position: center;
    }
  }

  &__background--greece {
    @include destination__background {
      width: 100%;
      background-size: cover;
      background-image: url("../assets/Images/greece.jpg");
      background-position: center;
    }
  }

  &__title {
    color: $secondary-color;
    font-weight: $weight-semi-bold;
    font-size: $heading-1;
    margin-bottom: 2rem;
  }

  &__cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &-card {
    background-color: $secondary-color;
    padding: 1.5rem;
    text-align: center;
    width: 20%;
    height: 55%;
    border-radius: 5px;
  }

  &__card-title {
    border-bottom: 3px solid black;
  }

  &__ul {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
  }

  &__list {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: $tertiary-color;
  }
}
