@mixin reset() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin body() {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
