// Colors
$secondary-color: #fff;
$on-secondary-color: #28282b;
$primary-color: #db7a4e;
$on-primary-color: #335576;
$tertiary-color: #fefaf5;
$inactive-link: #59595b;

// Typography
$heading-1: 2.6669rem;
$heading-2: 2.3331rem;
$heading-3: 2rem;
$sub-heading: 1.5rem;
$paragraph: 1rem;
$nav-text: 0.875rem;
$nav-subtile: 0.75rem;
$btn-text: 1.5rem;

// Font Weight
$weight-bold: 900;
$weight-semi-bold: 600;
$weight-medium: 500;
$weight-regular: 400;

// Box Shadow
$card-elevation: 0 4px 4px rgba(0, 0, 0, 0.2);

// Container
$container-padding: 2rem 4rem;
